body {
    font-family: sans-serif;
}

.container {
    width: 600px;
    min-height: 400px;
    border: 1px solid #CCC;
    margin: 0 auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    background-color: #F0F0F0;
}

.container > * {
    padding: 5px;
    color: white;
    background-color: royalblue;
    border: 1px solid darkblue;
}
